<ion-content class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button  (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons> 
  </ion-toolbar>

  
 <ion-row class="date_row">
    <ion-col size="6" class="from-to-date-time">From Date</ion-col>
    <ion-col size="6" class="from-to-date-time">To Date</ion-col>
   
    <ion-col size="6">
      <ion-item class="input-field">
        <!-- <ion-icon name="calendar-outline"  class="calender-time-img"></ion-icon> -->
        <ion-datetime
          displayFormat="DD-MMM-YYYY"
          [(ngModel)]="f_date"
          placeholder="From Date" class="date"></ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col size="6">
     
      <ion-item class="input-field">
        <!-- <ion-icon name="calendar-outline"  class="calender-time-img"></ion-icon> -->
        <ion-datetime
          displayFormat="DD-MMM-YYYY"
          [(ngModel)]="to_date"
          placeholder="To Date" class="date" formControlName="Password"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="label-text">Material Category</ion-row>
  <div class="drop-view">
    <ion-select style="padding: 10px;"
     multiple="true" placeholder="Category"
     [interfaceOptions]="customAlertstatusOptions"
     interface="alert"
      (ionChange)="selectCategery($event.target.value)" >
      <ion-select-option >All</ion-select-option>
       <ion-select-option  *ngFor="let s of response; index as i" value="{{s.AutoMaterialId}}">{{s.MaterialSubCategory}}</ion-select-option>
    </ion-select>
  </div>

  <!-- <ion-item class="input-field">
    <input
      type="date"
      id="dte"
      placeholder="DD-MMM-YYYY"
      style="width: 100%; border: none"
      [(ngModel)]="date" -->
    <!-- /> -->
    <!-- <input type="date" id="dte" /> -->
    <!-- <ion-datetime
      displayFormat="DD-MMM-YYYY"
      [(ngModel)]="date"
      placeholder="DD-MMM-YYYY"
    ></ion-datetime> -->
  <!-- </ion-item> -->

  <ion-button class="submit_btn" expand="block" type="submit" (click)="onSubmit()">
    Submit
  </ion-button>
 

</ion-content>
