<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="title_label">Work Progress List</ion-title>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goback()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-text slot="end" class="project_label">{{projectname}}</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-card class="card" *ngFor="let data of response2" >
    <ion-row (click)="onAddClicked(data)">
      <ion-col size="12">
        <ion-row>
          <ion-col size="5">
            <div class="left_text">Work Component</div>
          </ion-col>
          <ion-col size="1">
            <div class="left_text">:</div>
          </ion-col>
          <ion-col size="6">
            <div>{{data.work_component_type}}</div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="5">
            <div class="left_text">Start Date</div>
          </ion-col>
          <ion-col size="1">
            <div class="left_text">:</div>
          </ion-col>
          <ion-col size="6">
            <div>{{data.start_date | date:"dd-MMM-YYYY"}}</div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="5">
            <div class="left_text">End Date </div>
          </ion-col>
          <ion-col size="1">
            <div class="left_text">:</div>
          </ion-col>
          <ion-col size="6">
            <div>{{data.end_date | date:"dd-MMM-YYYY"}}</div>
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>
 
  </ion-card>

  <ion-row style="margin-top: 50%;margin-left: 32%;">
    <div *ngIf="response2?.length === 0">No records found</div>
  </ion-row>

  <ion-row style="margin-top: 10%;margin-left: 40%;">
    <div *ngIf="isData">Loading...</div>
  </ion-row>

 
  <!-- <ion-button class="addBtn" (click)="createWork()">Create work</ion-button> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" routerLink="/addwork">
      <ion-icon class="trashIcon" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>  

</ion-content>