<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="title_label">Material Details</ion-title>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goback()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-text slot="end" class="project_label">{{projectname}}</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p style="text-align: center;">
    <ion-label class="card_header">Material Details</ion-label>
  </p>
  <ion-row class="row_label" style="margin-top: -10px;">
    <ion-col size="5.5">
      <ion-text class="left_text">Material Name</ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-text class="left_text">:</ion-text>
    </ion-col>
    <ion-col size="5.5">
      <ion-text class="right_text">{{values.MaterialName}}</ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="row_label">
    <ion-col size="5.5">
      <ion-text class="left_text">Material ID</ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-text class="left_text">:</ion-text>
    </ion-col>
    <ion-col size="5.5">
      <ion-text class="right_text">{{values.MaterialId}}</ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="row_label">
    <ion-col size="5.5">
      <ion-text class="left_text">Material Description</ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-text class="left_text">:</ion-text>
    </ion-col>
    <ion-col size="5.5">
      <ion-text class="right_text">{{values.MaterialDescription}}</ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="row_label">
    <ion-col size="5.5">
      <ion-text class="left_text">Material Category</ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-text class="left_text">:</ion-text>
    </ion-col>
    <ion-col size="5.5">
      <ion-text class="right_text">{{values.MaterialCategory}}</ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="row_label">
    <ion-col size="5.5">
      <ion-text class="left_text">Material SubCategory</ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-text class="left_text">:</ion-text>
    </ion-col>
    <ion-col size="5.5">
      <ion-text class="right_text">{{values.MaterialSubCategory}}</ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="row_label">
    <ion-col size="5.5">
      <ion-text class="left_text">Mateial Notes</ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-text class="left_text">:</ion-text>
    </ion-col>
    <ion-col size="5.5">
      <ion-text class="right_text">{{values.MateialNotes}}</ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="row_label">
    <ion-col size="5.5">
      <ion-text class="left_text">Metrics</ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-text class="left_text">:</ion-text>
    </ion-col>
    <ion-col size="5.5">
      <ion-text class="right_text">{{values.Metrics}}</ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="row_label">
    <ion-col size="5.5">
      <ion-text class="left_text">Price</ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-text class="left_text">:</ion-text>
    </ion-col>
    <ion-col size="5.5">
      <ion-text class="right_text">{{values.Price}}</ion-text>
    </ion-col>
  </ion-row>

</ion-content>