<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="title_label">Work Progress</ion-title>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goback()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-text slot="end" class="project_label">{{projectname}}</ion-text>
  </ion-toolbar>
</ion-header>






















































































































<!-- <div class="footer">
    <ion-row style="height: 40px;">
        <ion-col size="6" style="text-align: center;" >
          <ion-button size="small"  (click)="onSavePressed()">Save</ion-button>
        </ion-col>
        <ion-col size="6" style="text-align: center;">
          <ion-button size="small"   (click)="onSubmit()">Submit</ion-button>
        </ion-col>
    </ion-row>
  </div> -->

<!-- <ion-footer > -->
<!-- <ion-toolbar>
      <ion-title>Save</ion-title>
    </ion-toolbar>
  </ion-footer> -->
<!-- <ion-row style="height: 40px;">
    <ion-col size="6" style="text-align: center;" >
      <ion-button size="small"  (click)="onSavePressed()">Save</ion-button>
    </ion-col>
    <ion-col size="6" style="text-align: center;">
      <ion-button size="small"   (click)="onSubmit()">Submit</ion-button>
    </ion-col>
</ion-row>
</ion-footer> -->