<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="title_label">Material Details</ion-title>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goback()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-text slot="end" class="project_label" >{{projectname}}</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p style="text-align: center;">
    <ion-label class="card_header">Material Receipt</ion-label>
  </p>

  <ion-row class="row_label" style="margin-top: -10px;">
    <ion-col size="5.5">
      <ion-text class="left_text">Category</ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-text class="left_text">:</ion-text>
    </ion-col>
    <ion-col size="5.5">
      <ion-text class="right_text">{{values.MaterialCategory}}</ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="row_label">
    <ion-col size="5.5">
      <ion-text class="left_text">Sub Category</ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-text class="left_text">:</ion-text>
    </ion-col>
    <ion-col size="5.5">
      <ion-text class="right_text">{{values.MaterialSubCategory}}</ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="row_label">
    <ion-col size="5.5">
      <ion-text class="left_text">Quantity</ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-text class="left_text">:</ion-text>
    </ion-col>
    <ion-col size="5.5">
      <ion-text class="right_text">{{values.Quantity | currency:'USD':''}} {{values.Metrics}}</ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="row_label">
    <ion-col size="5.5">
      <ion-text class="left_text">Date Received</ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-text class="left_text">:</ion-text>
    </ion-col>
    <ion-col size="5.5">
      <ion-text class="right_text">{{values.DateReceived | date:"dd-MMM-YYYY"}}</ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="row_label">
    <ion-col size="5.5">
      <ion-text class="left_text">Voucher Date</ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-text class="left_text">:</ion-text>
    </ion-col>
    <ion-col size="5.5">
      <ion-text class="right_text">{{values.VoucherDate | date:"dd-MMM-YYYY"}}</ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="row_label">
    <ion-col size="5.5">
      <ion-text class="left_text">Invoice Number</ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-text class="left_text">:</ion-text>
    </ion-col>
    <ion-col size="5.5">
      <ion-text class="right_text">{{values.InvoiceNo}}</ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="row_label">
    <ion-col size="5.5">
      <ion-text class="left_text">Vehicle Number</ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-text class="left_text">:</ion-text>
    </ion-col>
    <ion-col size="5.5">
      <ion-text class="right_text">{{values.VehicleNo | uppercase}}</ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="row_label">
    <ion-col size="5.5">
      <ion-text class="left_text">Location Received</ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-text class="left_text">:</ion-text>
    </ion-col>
    <ion-col size="5.5">
      <ion-text class="right_text" style="text-transform: capitalize;">{{values.Location}}</ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="row_label">
    <ion-col size="5.5">
      <ion-text class="left_text">Notes</ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-text class="left_text">:</ion-text>
    </ion-col>
    <ion-col size="5.5">
      <ion-text class="right_text" style="text-transform: capitalize;">{{values.Notes}}</ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="row_label">
    <ion-col size="5.5">
      <ion-text class="left_text">Status</ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-text class="left_text">:</ion-text>
    </ion-col>
    <ion-col size="5.5">
      <ion-text class="right_text" style="text-transform: capitalize;">{{values.Status}}</ion-text>
    </ion-col>
  </ion-row>
  
  <ion-row class="row_label">
    <ion-col size="5.5">
      <ion-text class="left_text">Voucher</ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-text class="left_text"></ion-text>
    </ion-col>
    <ion-col size="5.5">
      <ion-text></ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="image-view" *ngIf="isImage">
    <ion-col>
      <img [src]="image" (click)="openModal(image)">
    </ion-col>
  </ion-row>
  
  <ion-row class="noVoucher_text">
    <ion-label class="noImage_text" *ngIf="!isImage">No voucher is attached</ion-label>
  </ion-row>
   
</ion-content>