<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goback()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="logo-div">
    <img src="assets/logo.jpg" class="logo-img" />
  </div>
  <div class="logo-text">
    <h1 class="infra-text">Infra<span class="structrue-text">Structure</span></h1>
  </div>

  <form [formGroup]="changePasswordform">
    <ion-item class="input-field" lines="none">
      <ion-input placeholder="OldPassword" type="{{showPass ? 'text' : 'password'}}" formControlName="oldPassword">
      </ion-input>
      <ion-icon item-end slot="end" name="{{showPass ? 'eye' : 'eye-off'}}" (click)="showPass=!showPass"></ion-icon>
    </ion-item>

    <span class="error" *ngIf="isSubmitted && errorControl.oldPassword.errors?.required">
      *Please enter old password
    </span>

    <ion-item class="input-field" lines="none">
      <ion-input placeholder="NewPassword" type="{{showPass1 ? 'text' : 'password'}}" formControlName="newPassword">
      </ion-input>
      <ion-icon item-end slot="end" name="{{showPass1 ? 'eye' : 'eye-off'}}" (click)="showPass1=!showPass1"></ion-icon>
    </ion-item>
    <span class="error" *ngIf="isSubmitted && errorControl.newPassword.errors?.required">
      *Please enter new password
    </span>

    <ion-item class="input-field" lines="none">
      <ion-input placeholder="ConfirmPassword" type="{{showPass2 ? 'text' : 'password'}}"
        formControlName="confirmPassword"></ion-input>
      <ion-icon item-end slot="end" name="{{showPass2 ? 'eye' : 'eye-off'}}" (click)="showPass2=!showPass2"></ion-icon>
    </ion-item>

    <span class="error" *ngIf="isSubmitted && errorControl.confirmPassword.errors?.required">
      *Please enter confirm password
    </span>

    <ion-button class="submit_btn" type="submit" expand="block" (click)="submit()">Submit</ion-button>

  </form>

</ion-content>