<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="title_text">Add Previliges</ion-title>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goback()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-text slot="end" class="project_label">{{userRole}}</ion-text>
  </ion-toolbar>
</ion-header>









































































<!-- <div class="drop-view">
    <ion-select placeholder="company name" class="select-field" [interfaceOptions]="customCompanyOptions" multiple="true"
    (ionChange)="selectCompanies($event.target.value)" [(ngModel)]="selectedCompanyId">
      <ion-select-option *ngFor="let s of companyData; index as i" [value]="s.id">{{s.company_id}}</ion-select-option>
    </ion-select>
  </div>

<div class="drop-view">
    <ion-select placeholder="User Role" class="select-field" [interfaceOptions]="customUserRolesOptions" multiple="true"
      (ionChange)="selectRole($event.target.value)">
      <ion-select-option *ngFor="let s of roles; index as i" [value]="s.AutoRoleId">{{s.RoleName}}</ion-select-option>
    </ion-select>
  </div> 
  <div class="drop-view">
    <ion-select placeholder="Project Name" class="select-field" [interfaceOptions]="customProjectsOptions"
      [(ngModel)]="selectedProjectId" (ionChange)="selectProjects($event.target.value)">
      <ion-select-option *ngFor="let s of projectsData; index as i" [value]="s">{{s.ProjectName}}</ion-select-option>
    </ion-select>
  </div>

  <div class="drop-view">
    <ion-select placeholder=" Sub Project Name" class="select-field" [interfaceOptions]="customSubProjectsOptions"
      [(ngModel)]="selectedSubProjectId" (ionChange)="selectSubProjects($event.target.value)">
      <ion-select-option *ngFor="let s of subProjectsData" [value]="s">{{s.SubProjectName}}</ion-select-option>
    </ion-select>
  </div>

  <ion-row class="btns-view">
    <ion-col size="6" class="acpt_btnView">
      <ion-button expand="block" class="acpt_btn" color="primary" (click)="cancel()">Cancel</ion-button>
    </ion-col>
    <ion-col size="6" class="dngr_btnView">
      <ion-button expand="block" color="primary" class="dngr_btn" (click)="submit()">Submit</ion-button>
    </ion-col>
  </ion-row> -->
