
ion-tab-button.tab-selected {
    border-bottom: 2px solid #3880ff;
}

ion-segment-button {
    text-transform: none;
}
.homebtn{
    font-size: 16px;
    padding-right: 18px;  
}
.row1{
    border: 0.5px solid var(--ion-color-color_12);
    margin-left: 4px;
    margin-top: 4px;
    margin-right: 4px; 
}
.cl-1{
    border-right: 0.5px solid var(--ion-color-color_12);
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 12px;
}
.cl-2{
    border-right: 0.5px solid var(--ion-color-color_12);
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 12px;
   
}
.cl-3{
    border-right: 0.5px solid var(--ion-color-color_12);
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 12px;
}
.cl-4{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 12px;
}
.cl-5{
    text-align: center;   
    font-size: 12px;
}
.row2{
    border-left: 0.5px solid var(--ion-color-color_12);
    border-bottom: 0.5px solid var(--ion-color-color_12);
    margin-left: 4px;
    margin-right: 4px;
}
.cl-6{
    border-right: 0.5px solid var(--ion-color-color_12);
    text-align: left;
    font-size: 12px;
    padding-left: 12px;
}
.cl-7{
    border-right: 0.5px solid var(--ion-color-color_12);
    text-align: left;
    font-size: 12px;
    padding-left: 12px;
}
.cl-8{
    border-right: 0.5px solid var(--ion-color-color_12);
    text-align: left;
    font-size: 12px; 
}
.cl-9{
    border-right: 0.5px solid var(--ion-color-color_12);
     text-align: right;
    font-size: 12px;
}
.cl-10{
    border-right: 0.5px solid var(--ion-color-color_12);
    text-align: center;
    font-size: 12px;    
}
.fabButton{
    position: fixed;
    bottom: 0;
    right: 0;
}
.tabs_toolbar{
    margin-top: -10px;
    --min-height:40px!important;
}
.header_toolbar{
     margin-bottom: -10px;
    --min-height:40px!important;
}
ion-segment{
    height:20px;
}
ion-segment-button{
    min-height:20px;
}
.eye_icon{
    color: black;
}
.checkMark_icon{
    color: green;
}
.close_icon{
    color: red;
}
 